body {
    font-family: "Poppins", sans-serif;
  }

  /* Transition for menu container */
  .menu-enter {
    max-height: 0;
    opacity: 0;
  }

  .menu-active {
    max-height: 1000px;
    opacity: 1;
  }

  .transition-height {
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
  }